*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    text-align: center;
    border: 2px solid rgb(43, 134, 194);
    background-color: rgb(129, 212, 239);
    margin-bottom: 2px;
}
.menu{
    
    border: 2px solid rgb(214, 245, 73);
    float: left;
    width: 25%;
    font-size: x-large;
    background-color: rgb(184, 228, 243);

}
.main{
    border: 2px solid rgb(221, 241, 69);
    float: left;
    width: 75%;
    font-size: larger; 
    padding: 10px;
    text-align: justify;
    background-color: rgb(184, 228, 243);
    
}
.main h2{
    text-align: center;
}